{%  extends "layout.html" %}
{% block title %} Welcome to Anthology! {% endblock %}
{% block content %}
<p style="color:Orange;"> Anthology is a website that people can share their favorite poems and books.</p>
<p style="color:Violet;"> Sign in or sign up to begin using Anthology! </p>
{% endblock %}
{% block secondmenubar %}
{% endblock %}


{% block additional_styles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       body {
            background-image: url('/static/images/bg01.jpg');
            height: 80%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
       }
    </style>

{% endblock %}
