{%  extends "layout.html" %}
{% block title %} Welcome to Anthology! {% endblock %}
{% block content %}
    <div class="w3-cell-row">
        <div class ="w3-cell-column">
            <div class="w3-bar w3-text-black w3-large w3-cell">
                 <a href="/mylists/books/add"><button class="w3-bar-item w3-button w3-center"><b>Add</b></button></a>
                 <a href="/mylists/books/update"><button class="w3-bar-item w3-button w3-center"><b>Update</b></button></a>
                 <a href="/mylists/books/delete"><button class="w3-bar-item w3-button w3-center"><b>Delete</b></button></a>

            </div>
        </div>

        <div class="w3-cell-column">
       {#  START - Forms  #}
            {% macro render_field(field) %}
              <dt>{{ field.label }}
              <dd>{{ field(**kwargs)|safe }}
              {% if field.errors %}
                <ul class=errors>
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
              {% endif %}
              </dd>
            {% endmacro %}
                    <form method=post>
              <dl>
                {{ render_field(form.id) }}
                {{ render_field(form.name) }}
                {{ render_field(form.author) }}
                {{ render_field(form.number_of_pages) }}
                {{ render_field(form.publisher) }}
                {{ render_field(form.category) }}
              </dl>
              <p><input type=submit value="Update Book">

            {#   END - Forms #}
        </div>

     </div>



{% endblock %}
